* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #f7f7f7;
}

.title {
    text-align: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    max-width: 800px;
    margin: 0 auto;
}

.cell {
    background: rgba(0, 0, 0, 0.025);
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    padding: 8px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cell img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 3px;
    margin-bottom: 6px;
}

.cell .description {
    margin-top: 4px;
    font-size: 12px;
    color: #333;
    white-space: pre-wrap;
}

.cell.done {
    background: rgba(0, 255, 0, 0.1);
    border: 2px solid  rgba(0, 255, 0, 0.5);
}

.caption {
    display: block;
    margin-top: 8px;
    text-align: center;
    width: 100%;
    color: #666;
    line-height: 1.5;
}

.caption a {
    color: #66f;
}